body {
    background-color:mediumslateblue;
    color: black;
    font-family: "Alice";
} 

h1 {
    display: block;
    margin: 0 auto 0 auto;
    background-color:cadetblue;
    color:black;
}
h1:hover { 
    box-shadow: 5px 5px 5px ghostwhite;
    }
#summary {
    background-color:thistle;
    color:black;
    padding: 2% 50px 2% 50px;
}
#portrait {
    display: block;
    width: 100%;
    max-width: 450px;
    margin: 0 auto 0 auto; 
} 
#edu-history {
    background-color:thistle;
    color:black;  
}
#job-history {
    background-color:cadetblue;
    color:black;
}
.section:hover {
    display: block;
    width: 60vw;
    margin: 0 auto 0 auto;
    padding: 2% 50px 2% 50px;
    background-color:black;
    color:white;
    box-shadow: 5px 5px 5px ghostwhite;
}
